@font-face
  font-family: Circle
  src:
    url('../fonts/crc35.woff2') format('woff2'),
    url('../fonts/crc35.woff') format('woff')

@font-face
  font-family: Intro
  src:
    url('../fonts/intro.woff2') format('woff2'),
    url('../fonts/intro.woff') format('woff')

@font-face
  font-family: Lemon
  src:
    url('../fonts/lemon-tuesday.woff2') format('woff2'),
    url('../fonts/lemon-tuesday.woff') format('woff')

@font-face
  font-family: GraphicRbc
  src:
          url('../fonts/graphik-rbc-lc-regular.woff2') format('woff2'),
          url('../fonts/graphik-rbc-lc-regular.woff') format('woff')

@font-face
  font-family: ALSStory
  src:
          url('../fonts/als-story-regular-webfont.woff2') format('woff2'),
          url('../fonts/als-story-regular-webfont.woff') format('woff')
  font-weight: normal

@font-face
  font-family: ALSStory
  src:
          url('../fonts/als-story-bold-webfont.woff2') format('woff2'),
          url('../fonts/als-story-bold-webfont.woff') format('woff')
  font-weight: bold