*
  margin: 0

html,
body
  height: 100%

.wrapper
  min-height: 100%
  margin-bottom: -6.2rem
  &::after
    content: ''
    display: flex

.footer,
.wrapper::after
  height: 6.2rem

.footer
  background: #fff
  padding-top: 2.7rem
  padding-bottom: 1.9rem
  & span
    font-size: 1.3rem
    margin-right: 1.5rem
  &__layout
    justify-content: space-between
  &__social
    display: inline-flex

.social
  background: url(../img/social.png) no-repeat 0 center
  display: inline-block
  width: 2rem
  height: 2rem
  position: relative
  top: -.5rem
  left: .2rem
  margin-left: 1.3rem
  &__vk
    background-position-x: -2.2rem
    margin-left: -.9rem
    &:hover
      background-position-x: -14.3rem
  &__tw
    background-position-x: -5.7rem
    &:hover
      background-position-x: -17.8rem
  &__fb
    background-position-x: -8.9rem
    &:hover
      background-position-x: -21rem
