.header
  position: relative
  z-index: 1000
  margin-bottom: -11rem
  &__layout
    justify-content: space-between
  &__logo
    padding-top: 2rem
  &__partners
    display: inline-flex
    & span
      font-size: 1rem
      margin-top: 2.5rem
      margin-right: .8rem
      letter-spacing: .05rem
    & img
      position: relative
      top: -.2rem