footer.footer
  .layout.footer__layout
    .footer__staff
      span.text__circle Директор спецпроектов: Полина Абдуллина
      span.text__circle Менеджер проекта: Юлия Дьякова
      span.text__circle Дизайнер: Полина Молчанова
    .footer__social
      span.text__circle Нравится проект?
      a(href='#0' target='_blank').social.social__vk
      a(href='#0' target='_blank').social.social__tw
      a(href='#0' target='_blank').social.social__fb