header.header
  .layout.header__layout
    a(href='/').header__logo
      img(src='assets/img/header__logo.png' alt='logo')
    a(href='#0').header__partners
      span.text__graphic.text__upper Совместный проект
      img(src='assets/img/header__partners.png' alt='partners')