header.header
  .layout.header__layout
    .header__logo
      a(href='/').link
        img(src='assets/img/header__logo.png' alt='logo')
    .header__partners
      span.text__graphic.text__upper Совместный проект
      a(href='#0').link
        img(src='assets/img/header__partners.png' alt='partners')