nav.menu-left
  .layout.menu-left__layout
    a(href='#main__head' data-tooltip data-scroll='' data-placement='right' title='Гид по стилю').link.menu-left__link
    a(href='#main__test' data-tooltip data-scroll='animateSectionTest()' data-placement='right' title='Паста или нет?').link.menu-left__link
    a(href='#main__timeline' data-tooltip data-scroll='animateSectionPromo()' data-placement='right' title='Мир пасты в фактах').link.menu-left__link