nav.menu-left
  .layout.menu-left__layout
    a(href='#0' data-tooltip data-placement='right' title='Гид по стилю').link.menu-left__link
    a(href='#0' data-tooltip data-placement='right' title='Паста или нет?').link.menu-left__link
    a(href='#0' data-tooltip data-placement='right' title='Мир пасты в фактах').link.menu-left__link