doctype html
html(lang='en' data-scroll-speed='1')
  head
    meta(charset='utf-8')
    meta(name="description" content="")
    meta(name="keywords" content="")
    title Barilla Pasta
    include __assets/styles
    include __assets/scripts
  body(data-scroll-speed='5')
    include __blocks/menu__main-left
    .wrapper
      include __blocks/header
      main.main
        block main
    include __blocks/footer