doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="description" content="")
    meta(name="keywords" content="")
    title Barilla Pasta
    include assets/styles
    include assets/scripts
  body
    include __blocks/menu__main-left
    .wrapper
      include __blocks/header
      main.main
        block main
    include __blocks/footer