extends base
block main
  section#main__head.main__section.main__head
    .parallax__left.parallax__left-item1
    .parallax__right.parallax__right-item1
    .parallax__right.parallax__right-item2
    .appearance
      .layout.layout__center
        h1.text.text__center.text__dark-blue.main__title
          span.text__upper.text__intro.main__headline Гид по
          .main__title-image
            img(src='assets/img/bow__tie.png' alt='')
          span.text__upper.text__intro Итальянскому
          span.text__lemon стилю
      .layout.layout__center.layout__p0
        .main__frame.layout.layout__center.layout__p0
          .map
            .map__item.map__bow-pie
              img(src='assets/img/map__tie.png' alt='').map__image
              img(src='assets/img/map__tie-shadow.png' alt='').map__image.map__image-shadow
              a(href='#main__article' data-scroll='').link.map__marker
              .map__heading
                span.text.text__upper.text__intro.text__red стиль
                span.text.text__upper.text__intro.text__red и красота
            .map__item.map__mask
              img(src='assets/img/map__mask.png' alt='').map__image
              img(src='assets/img/map__mask-shadow.png' alt='').map__image.map__image-shadow
              a(href='#main__article' data-scroll='').link.map__marker
              .map__heading
                span.text.text__upper.text__intro.text__red искусство
                span.text.text__upper.text__intro.text__red и дизайн
            .map__item.map__pasta
              img(src='assets/img/map__pasta.png' alt='').map__image
              img(src='assets/img/map__pasta-shadow.png' alt='').map__image.map__image-shadow
              a(href='#main__article' data-scroll='').link.map__marker
              .map__heading
                span.text.text__upper.text__intro.text__red гастрономия
            .map__item.map__bag
              img(src='assets/img/map__bag.png' alt='').map__image
              img(src='assets/img/map__bag-shadow.png' alt='').map__image.map__image-shadow
              a(href='#main__article' data-scroll='').link.map__marker
              .map__heading
                span.text.text__upper.text__intro.text__red отдых
      .layout.layout__center
        p.text.text__circle.main__description
          | Италия – один из центров мировой fashion-индустрии. Паста — одно из любимых
          | блюд итальянцев, неотделимое от их стиля жизни. Кроме того, качественная паста
          | не только сама держит форму, но и позволяет держать ее итальянским модникам и
          | гурманам. Изящная Софи Лорен всегда говорила, что паста не полнит.
  .main__zigzag
  section#main__article.main__section.main__article
    .parallax__left.parallax__left-item2
    .parallax__left.parallax__left-item3
    .parallax__left.parallax__left-item4
    .parallax__right.parallax__right-item3
    .parallax__right.parallax__right-item4
    .parallax__right.parallax__right-item5
    .appearance
      .layout.layout__center
        h2.text.text__center.text__dark-blue.main__caption
          span.text__upper.text__intro.main__headline Статьи
          .main__title-image
            img(src='assets/img/bow__flower.png' alt='')
      .layout.layout__center
        .main__article-item.layout
          h6.text.text__intro.text__upper.text__dark-blue.main__article-title Стиль и красота
          p.text__bold.text__circle.main__article-content Как итальянские продукты питания повлияли на международную моду?
          a(href='#0').text.text__intro.text__upper.text__dark-blue.link.main__article-more Читать
        .main__article-item.layout
          h6.text.text__intro.text__upper.text__dark-blue.main__article-title Гастрономия
          p.text__bold.text__circle.main__article-content &laquo;Новая итальянская кухня&raquo;: что это такое?
          a(href='#0').text.text__intro.text__upper.text__dark-blue.link.main__article-more Читать
        .main__article-item.layout
          h6.text.text__intro.text__upper.text__dark-blue.main__article-title Искусство и дизайн
          p.text__bold.text__circle.main__article-content Что отличает классический итальянский &laquo;одеколон&raquo;
          a(href='#0').text.text__intro.text__upper.text__dark-blue.link.main__article-more Читать
  .main__zigzag
  section#main__test.main__section.main__test
    .main__test-image
      img(src='assets/img/animate__img-circle.png' alt='').main__test-image1
      img(src='assets/img/animate__img-book2600.png' alt='').main__test-image2
      img(src='assets/img/animate__img-photo.png' alt='').main__test-image3
      img(src='assets/img/animate__img-photo-second.png' alt='').main__test-image4
      img(src='assets/img/animate__img-plate2600.png' alt='').main__test-image5
    .appearance
      .layout.layout__center
        .main__test-container
          h2.text.text__center.text__dark-blue.main__caption.main__title
            span.text__upper.text__intro.main__headline Тест
            .main__title-image
              img(src='assets/img/bow__sheet.png' alt='')
            span.text__upper.text__intro Паста
            span.text__lemon или нет?
          a(href='#0').text.text__intro.text__upper.link.main__test-button Начать
            span.text.text__intro.text__upper Начать
  section#main__timeline.main__section.main__timeline
    .main__timeline-image
      img(src='assets/img/pepper.png' alt='').main__timeline-image1
      img(src='assets/img/basil.png' alt='').main__timeline-image2
    .appearance
      .layout.layout__center
        h2.text.text__center.text__dark-blue.main__caption.main__title
          span.text__upper.text__intro.main__headline Вкусно
          .main__title-image
            img(src='assets/img/bow__flower.png' alt='')
          span.text__upper.text__intro Мир пасты в фактах
      .layout.layout__center.layout__p0
        .timeline.swiper-container
          .swiper-wrapper
            - var n = 0;
            while n < 20
              .swiper-slide(data-loop=n++).timeline__item
                .timeline__container
                  .timeline__images.layout.layout__center.layout__p0
                    img(src='assets/img/timeline1.png' alt='').timeline__img.timeline__hover
                    img(src='assets/img/timeline1-hover.png' alt='').timeline__img
                .timeline__text
                  span.text.text__upper.text__intro.text__dark-blue Макароны
                .line
                  li.line__up
                  li.line__circle
                  li.line__next