extends base
block main
  section.main__section.main__head
    .layout.layout__center
      h1.text.text__center.text__dark-blue.main__title
        span.text__upper.text__intro Гид по
        .main__bow-tie
          img(src='assets/img/bow__tie.png' alt='')
        span.text__upper.text__intro Итальянскому
        span.text__lemon стилю
    .layout.layout__center
      p.text.text__circle.main__description
        | Италия – один из центров мировой fashion-индустрии. Паста — одно из любимых
        | блюд итальянцев, неотделимое от их стиля жизни. Кроме того, качественная паста
        | не только сама держит форму, но и позволяет держать ее итальянским модникам и
        | гурманам. Изящная Софи Лорен всегда говорила, что паста не полнит.
  .main__zigzag